body{
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
}
.div1{
    height:120px;
    width: 450px;
    margin: 5px;
    /* text-align: right; */
    background-color: rgb(249, 139, 150);
    border: 2px solid rgb(11, 11, 11);
    padding: 10px;
}