.btnStyle{
    background-color: blue;
    color: white;
}

.h1Style{
    color: purple;
}




/* .red{
    color: red;
}

.blue{
    color: blue;
}
.box{
    border: 1px solid black;
    background-color: pink;
}
.p{
    text-transform: uppercase ;
} */